{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="form-card">
      <h3 class="mb-3" style="color:var(--primary-purple)">Sign In</h3>

      {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
      {% endif %}

      <form method="post" action="{{ url_for('login') }}">
        <div class="mb-3">
          <label class="form-label">Username</label>
          <input class="form-control" name="username" required>
        </div>
        <div class="mb-3">
          <label class="form-label">Password</label>
          <input type="password" class="form-control" name="password" required>
        </div>
        <div class="d-grid">
          <button class="btn btn-primary-custom" type="submit">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
